
*.aab
android/build/*.aab
android/build/*.apk
android/build/build/
android/build/.gradle/
android/build/libs/
android/build/local.properties
android/build/res/
android/build/src/main/assets/
*.apk
# APK files
.DS_Store
export_presets.cfg.gradle
.godot/
# Godot
# Godot android/build 完整忽略
# Gradle
# IDE
.idea/
*.iml
*.import
*.jks
*.keystore
# Keystore / signing
# OS
Thumbs.db
*.uid
.vscode/
